**Libraries import + load data**

In [13]:
import pandas as pd

df = pd.read_csv("olist_customers_dataset.csv")

df.shape

(99441, 5)

**Dataset preview**

In [14]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

**Missing values check**

In [15]:
df.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

**Duplicate rows remove**

In [16]:
df = df.drop_duplicates()
df.shape

(99441, 5)

**Handle missing values**

In [17]:
df['customer_city'] = df['customer_city'].fillna("Unknown")
df['customer_state'] = df['customer_state'].fillna("Unknown")

**Text cleaning**

In [18]:
df['customer_city'] = df['customer_city'].str.lower().str.strip()
df['customer_state'] = df['customer_state'].str.upper().str.strip()

**Zip code validation**

In [19]:
df = df[df['customer_zip_code_prefix'] > 0]
df.shape

(99441, 5)

**Final check**

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

**Save cleaned file**

In [21]:
df.to_csv("cleaned_customers.csv", index=False)

**Download file**

In [22]:
from google.colab import files
files.download("cleaned_customers.csv")